* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    display: grid;
    grid-template-rows: 30px 80px 360px 1fr;
    grid-template-columns: 1fr;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

greybar {
    background-color: #aaa;
    color: #eee;
    padding-top: 7px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 800;
}

/* ####################################################################
                        navbar
#################################################################### */

navbar {
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 40% repeat(6, max-content);
    grid-template-rows: 1fr;
    border-bottom: 1px solid #ddd;
}

navbar img {
    margin-left: 25%;
    width: 80px;
}
.navbar__enlace{
    margin-left: 20px;
    margin-top: 30px;
    font-weight: 600;
    color: #888;
    cursor: pointer;
}
.navbar__enlace:nth-child(2) {
    color: #222;
}

/* ####################################################################
                             BANNER
#################################################################### */
banner {
    margin-top: 10px;
    display: flex;
    height: 330px;
}

.banner__recuadro{
    margin: 30px;
    border: 3px solid rgba(230, 72, 119, 0.5);
    display: flex;
    padding: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 400px;

}

.banner__recuadro_titulo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    font-weight: 600;
}
.banner__recuadro_linea {
    margin-top: 20px;
    width: 200px;
    border-top: 2px solid rgba(230, 72, 119, 0.5);
}

.banner__recuadro_subtitulo {
    margin-top: 20px;
    color: #777;
    font-weight: 600;
    width: 300px;
}

.banner__imagen{
    flex-grow: 1;
    background-color: aqua;
    background-image: url("img/banner.jpg");
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ####################################################################
                             GALERIA
#################################################################### */

.galeria__container{
    display: flex;
    margin-left: 30px;
}
galeria {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.galeria__barra {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.galeria__barra_titulo {
    font-size: 23px;
    font-weight: 600;
    color: #333;
}
.galeria__barra_titulo_linea {
    margin-top: 10px;
    width: 50px;
    border-top: 3px solid #111;

}
.galeria__barra_boton{
    width: 200px;
    height: 60px;
    background-color: #777;
    border-radius: 25px;
    color: #ddd;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}

.galeria__recuadros {
    max-width: 1020px;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 200px;
    grid-auto-flow: row;
    grid-auto-rows: 200px; */
    row-gap: 40px;
    column-gap: 60px;
    margin-bottom: 30px;
}

.galeria__item {
    width: 300px;
    height: 200px;
}
.galeria__item_img {
    height: 180px;
    background-color: blueviolet;
    /* background-image: url("img/galeria/invierno.jpg"); */
    background-size: cover;
    background-position: center;
}
#invierno {background-image: url("img/galeria/invierno.jpg");}
#ramos {background-image: url("img/galeria/ramos.jpg");}
#arreglos {background-image: url("img/galeria/arreglos.jpg");}
#cajas {background-image: url("img/galeria/cajas.jpg");}
#plantas {background-image: url("img/galeria/plantas.jpg");}
#casa {background-image: url("img/galeria/casadeco.jpg");}

.galeria__item_texto {
    font-size: 23px;
    font-weight: 600;
    color: #333;
}

/* ####################################################################
                             CONTACTO
#################################################################### */
.contacto__hr {
    margin-top: 30px;
    border-bottom: 2px solid #aaa;
    margin-bottom: 30px;
}